fastapi
uvicorn
sqlalchemy
pandas
openpyxl
pytesseract
Pillow
python-multipart
gunicorn
email-validator
psycopg2-binary
requests
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1
slowapi
prometheus-fastapi-instrumentator
prometheus-client
reportlab
pyzbar
opencv-python-headless
vobject
celery==5.3.4
redis==5.0.1
fuzzywuzzy==0.18.0
python-Levenshtein==0.25.0
