fastapi
uvicorn
sqlalchemy
pandas
openpyxl
pytesseract
Pillow
python-multipart
gunicorn
email-validator
psycopg2-binary
requests
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1
slowapi
prometheus-fastapi-instrumentator
prometheus-client
